version: "3.8"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    command: ["redis-server", "--save", "60", "1"]

  web:
    build: ./backend
    entrypoint: /app/entrypoint.sh
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    command: npm run dev -- --host
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
    depends_on:
      - web

  celery_worker:
    build: ./backend
    command: sh -c "./celery-entrypoint.sh celery -A petcare worker --loglevel=info"
    entrypoint: /app/celery-entrypoint.sh
    volumes:
      - ./backend:/app
    env_file: .env
    depends_on:
      - redis
      - db

  celery_beat:
    build: ./backend
    command: sh -c "./celery-entrypoint.sh celery -A petcare beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler"
    entrypoint: /app/celery-entrypoint.sh
    volumes:
      - ./backend:/app
    env_file: .env
    depends_on:
      - redis
      - db

volumes:
  postgres_data:
